* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Lato";
  overflow: hidden;
}

.success {
  border-left: 3px solid rgb(52, 146, 52) !important;
}

.error {
  border-left: 3px solid rgb(146, 52, 52) !important;
}

.info {
  border-left: 3px solid rgb(43, 66, 100);
}

#root {
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;

  width: 100vw;

  .notification {
    width: 370px;

    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    height: auto;

    margin: 5px;

    display: flex;
    align-items: center;

    font-size: 14px;

    background: rgba(17, 27, 38, 0.864);

    .type {
      display: flex;
      height: 100%;

      align-items: center;

      font-size: 1.2em;
    }

    .container {
      display: flex;
      flex-flow: column;

      padding: 15px;
    }

    .title {
      font-weight: 300;
    }
  }
}

.load {
  animation: loadNotification 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.clear {
  animation: clear 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes clear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loadNotification {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
