* {
    font-family: 'Roboto';
}

.container {
    display: none;
}  

.found {
    display: none;
}  

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    background-color:#2D303C;
    width: 80vh;
}

.wrapper .topbar {
    background-color: #272934;
    height: 5vh;
}

.wrapper .topbar span {
    position: relative;
    top: 15px;
    left: 20px;
    font-size: 24px;
    color: #D7D8DA;
}

.wrapper .startPage input {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #2D303C;
    border: none;
    border-bottom: 1px solid #D7D8DA;
    outline: none;
    color: #D7D8DA;
    width: 30vh;
}

.wrapper .startPage input::placeholder {
    color: #D7D8DA;
}

.wrapper .startPage button {
    position: absolute;
    top: 49%;
    border-radius: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    padding: 10px;
    border: none;
    width: 15vh;
    color: #D7D8DA;
    background-color: #428CCC;
}

.found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    background: #272934;
    width: 70vh;
}

.found img {
    border-radius: 50%;
    border: 1px solid #428CCC;
    height: 200px;
    position: relative;
    top: 35px;
    left: 20px;
}

.found ol {
    list-style: none;
    color: #D7D8DA;
    position: absolute;
    top: 42%;
    left: 40%;
    font-size: 15px;
    transform: translate(-50%, -50%);
}

.found button {
    position: absolute;
    top: 90%;
    left: 88%;
    transform: translate(-50%, -50%);
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 15vh;
    color: #D7D8DA;
    background-color: #428CCC;
}